:root {
  font-family: Avenir, system-ui, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--rich-black);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Palette */
  --coarse-wool: #191c26; 
  --black-howl: #1e212d; 
  --rich-black: #111319; 
  --alice-blue: #f4f9fc; 
  --bottle-green: #006241; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 10px 15px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--coarse-wool);
  color: var(--alice-blue); 
  cursor: pointer;
  transition: background-color 0.45s;
  width: 100%; 
}

button:hover {
  border-color: #646cff;
  background-color: var(--alice-blue); 
  color: var(--coarse-wool); 
}

a {
  text-decoration: none; 
  color: inherit; 
}

.googleBtn {
  display: flex; 
  justify-content: flex-end; 
  align-items: center; 
}

@media screen and (max-width: 480px) {
  .googleBtn {
    justify-content: center; 
  }
}