.about {
  width: 100%; 
  height: calc(100dvh - 128px); 
}

.about__wrapper {
  max-width: 768px; 
  margin: 0 auto;
  background-color: var(--rich-black); 
  height: 100%;
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.about__main {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  gap: 35px; 
}

.about__title {
  font-family: "Mulish", sans-serif; 
  font-size: 40px; 
  color: var(--alice-blue); 
  letter-spacing: 0.5px; 
}

.about__content {
  font-family: inherit; 
  font-size: 16px; 
  font-weight: 300; 
  color: var(--disco-ball); 
  letter-spacing: 1px; 
  line-height: 1.5rem; 
}

.about__btn {
  font-size: 14px; 
  letter-spacing: 1px; 
  line-height: 1.5rem; 
}

@media screen and (max-width: 1024px) {
  .about__wrapper {
    padding: 0 20px; 
  }
}

@media screen and (max-width: 768px) {
  .about__main {
    flex-wrap: wrap; 
    text-align: center; 
  }

  .about__content {
    font-size: 14px; 
  }
}
