.chatFriends {
  background-color: #3e3c61; 
}

.chatFriends__user {
  padding: 15px; 
  display: flex; 
  align-items: center; 
  gap: 10px; 
  cursor: pointer; 
}

.chatFriends__user:hover {
  background-color: #2f2d52; 
}

.chatFriends__user img {
  width: 35px; 
  height: 35px; 
  border-radius: 50%; 
  object-fit: cover; 
}

.chatFriends__user--info h3,
.chatFriends__user--info p {
  font-weight: 400; 
  font-family: sans-serif; 
  margin-bottom: 5px; 
}

.chatFriends__user--info h3 {
  font-size: 14px; 
  color: #e1e1e1; 
}

.chatFriends__user--info p {
  font-size: 13px; 
  color: #a2a2a2; 
  line-height: 1.03rem; 
}

@media screen and (max-width: 480px) {
  .chatFriends__user {
    padding: 8px 10px; 
  }

  .chatFriends__user img {
    width: 25px; 
    height: 25px; 
  }

  .chatFriends__user--info h3 {
    font-size: 11px; 
  }
  
  .chatFriends__user--info p {
    display: none; 
  }
}