.chatNav {
  height: 50px; 
  width: 100%; 
  background-color: #2f2d52; 
  color: #ddddf7; 
  display: flex; 
  justify-content: center; 
}

.chatNav__logo {
  font-size: 14px; 
}

.chatNav__user {
  display: flex;
  align-items: center; 
  gap: 40px; 
  font-size: 14px; 
}

.chatNav__user img {
  height: 24px; 
  width: 24px; 
  border-radius: 50%; 
  object-fit: cover; 
}

.chatNav__logout--btn {
  background-color: #5d5b8d; 
  color: #ddddf7; 
  font-weight: bold; 
  border: none; 
  font-size: 10px; 
  cursor: pointer; 
  padding: 5px 10px; 
  width: fit-content; 
}

@media screen and (max-width: 768px) {
  .chatNav__user {
    justify-content: space-around; 
  }
  
  /* button to be at bottom-left of ChatPanel (position relative for correct placement) */
  .chatNav__logout--btn {
    position: absolute; 
    bottom: 10px; 
    left: 10px; 
  }
}

@media screen and (max-width: 480px) {
  .chatNav {
    display: flex; 
    align-items: center; 
    justify-content: center; 
  }
  
  .chatNav__user p {
    display: none; 
  }
}