.chatPanel {
  flex: 1; 
  border-right: 1px solid #3e3c61; 
  background-color: #3e3c61; 
  position: relative; 
}

@media screen and (max-width: 480px) {
  .chatPanel {
    width: 0; 
    overflow: hidden; 
  }
}