.messages {
  background-color: #ddddf7; 
  padding: 10px; 
  height: calc(100% - 160px); 
  overflow: auto; 
}

.messages::-webkit-scrollbar {
  background-color: #ddddf7; 
  width: 7px; 
}

.messages::-webkit-scrollbar-thumb {
  background-color: #2f2d52; 
}